In [1]:
import numpy as np
import pandas as pd
import matplotlib. pyplot as plt
from sklearn.preprocessing import MinMaxScaler,StandardScaler

from keras.layers import LSTM, Dense, Dropout
from sklearn.model_selection import TimeSeriesSplit
from sklearn.metrics import mean_squared_error, r2_score
from tensorflow.keras.models import Sequential

In [2]:
df=pd.read_csv(r"C:\Users\Priyanshul\OneDrive\Desktop\Hackathon\stock-market-prediction-and-sentimental-analysis\DJIA_table(train).csv",index_col='Date',parse_dates=True,infer_datetime_format=True)

In [3]:
df=df.iloc[::-1]
df.head()

,Open,High,Low,Close,Volume,Adj Close
Date,,,,,,
2008-08-08,11432.08984,11759.95996,11388.04004,11734.32031,212830000,11734.32031
2008-08-11,11729.66992,11867.11035,11675.53027,11782.34961,183190000,11782.34961
2008-08-12,11781.70020,11782.34961,11601.51953,11642.46973,173590000,11642.46973
2008-08-13,11632.80957,11633.78027,11453.33984,11532.95996,182550000,11532.95996
2008-08-14,11532.07031,11718.28027,11450.88965,11615.92969,159790000,11615.92969

In [4]:
target_y=df['Close']
x_feat=df.iloc[:,0:3]

In [5]:
target_y

Date
2008-08-08    11734.32031
2008-08-11    11782.34961
2008-08-12    11642.46973
2008-08-13    11532.95996
2008-08-14    11615.92969
                 ...
2015-12-24    17552.16992
2015-12-28    17528.26953
2015-12-29    17720.98047
2015-12-30    17603.86914
2015-12-31    17425.02930
Name: Close, Length: 1863, dtype: float64

In [6]:
x_feat

                   Open         High          Low
Date
2008-08-08  11432.08984  11759.95996  11388.04004
2008-08-11  11729.66992  11867.11035  11675.53027
2008-08-12  11781.70020  11782.34961  11601.51953
2008-08-13  11632.80957  11633.78027  11453.33984
2008-08-14  11532.07031  11718.28027  11450.88965
...                 ...          ...          ...
2015-12-24  17593.25977  17606.33984  17543.94922
2015-12-28  17535.66016  17536.90039  17437.33984
2015-12-29  17547.36914  17750.01953  17547.36914
2015-12-30  17711.93945  17714.13086  17588.86914
2015-12-31  17590.66016  17590.66016  17421.16016

[1863 rows x 3 columns]

In [14]:
sc = MinMaxScaler()

In [15]:
x_ft = sc.fit_transform(x_feat.values)
x_ft = pd.DataFrame(columns=x_feat.columns,data=x_ft,index=x_feat.index)

In [16]:
x_ft.head()

                Open      High       Low
Date
2008-08-08  0.415114  0.433814  0.416695
2008-08-11  0.440401  0.443018  0.441053
2008-08-12  0.444822  0.435737  0.434783
2008-08-13  0.432170  0.422975  0.422228
2008-08-14  0.423610  0.430233  0.422020

In [17]:
def lstm_split(data, n_steps):
    x,y= [],[]
    for i in range(len(data)-n_steps+1):
        x.append(data[i:i + n_steps, :1])
        y.append(data[i + n_steps-1, :1])
    return np.array(x),np.array(y)

In [18]:
x1,y1 = lstm_split(x_ft.values,n_steps=2)
train_split=0.8
split_idx = int(np.ceil(len(x1)*train_split))
date_index = x_ft.index

x_train,x_test = x1[:split_idx],x1[split_idx:]
y_train,y_test = y1[:split_idx],y1[split_idx:]

In [19]:
x_train

array([[[0.41511378],
        [0.4404009 ]],

       [[0.4404009 ],
        [0.44482222]],

       [[0.44482222],
        [0.43217011]],

       ...,

       [[0.89012873],
        [0.88118419]],

       [[0.88118419],
        [0.88658182]],

       [[0.88658182],
        [0.88131   ]]])

In [20]:
x_test.shape

(372, 2, 1)

In [21]:
y_train.shape

(1490, 1)

In [22]:
y_test.shape

(372, 1)

In [48]:
lstm= Sequential()
lstm.add(LSTM(32,input_shape=(x_train.shape[1],x_train.shape[2]),activation='relu',return_sequences=False))
lstm.add(Dense(1))

In [24]:
lstm.compile(loss='mean_squared_error',optimizer='adam')

In [25]:
history=lstm.fit(x_train,y_train,epochs=20,batch_size=4,verbose=2,shuffle=False)

Epoch 1/20
373/373 - 4s - loss: 0.0094 - 4s/epoch - 11ms/step
Epoch 2/20
373/373 - 1s - loss: 0.0020 - 1s/epoch - 4ms/step
Epoch 3/20
373/373 - 1s - loss: 0.0018 - 1s/epoch - 3ms/step
Epoch 4/20
373/373 - 1s - loss: 0.0015 - 1s/epoch - 3ms/step
Epoch 5/20
373/373 - 1s - loss: 0.0013 - 1s/epoch - 3ms/step
Epoch 6/20
373/373 - 1s - loss: 0.0011 - 1s/epoch - 4ms/step
Epoch 7/20
373/373 - 1s - loss: 9.2113e-04 - 1s/epoch - 3ms/step
Epoch 8/20
373/373 - 1s - loss: 7.7050e-04 - 1s/epoch - 3ms/step
Epoch 9/20
373/373 - 1s - loss: 6.7792e-04 - 1s/epoch - 3ms/step
Epoch 10/20
373/373 - 1s - loss: 5.7637e-04 - 1s/epoch - 3ms/step
Epoch 11/20
373/373 - 1s - loss: 5.4197e-04 - 1s/epoch - 3ms/step
Epoch 12/20
373/373 - 1s - loss: 4.9043e-04 - 1s/epoch - 4ms/step
Epoch 13/20
373/373 - 1s - loss: 4.7569e-04 - 1s/epoch - 3ms/step
Epoch 14/20
373/373 - 1s - loss: 4.3614e-04 - 1s/epoch - 4ms/step
Epoch 15/20
373/373 - 1s - loss: 4.3892e-04 - 1s/epoch - 4ms/step
Epoch 16/20
373/373 - 1s - loss: 4.1777e-04 - 1s/epoch - 3ms/step
Epoch 17/20
373/373 - 1s - loss: 4.3672e-04 - 1s/epoch - 4ms/step
Epoch 18/20
373/373 - 1s - loss: 4.1866e-04 - 1s/epoch - 3ms/step
Epoch 19/20
373/373 - 1s - loss: 4.3813e-04 - 1s/epoch - 4ms/step
Epoch 20/20
373/373 - 1s - loss: 4.3831e-04 - 1s/epoch - 3ms/step

In [26]:
y_pred= lstm.predict(x_test)

12/12 [==============================] - 1s 3ms/step

In [27]:
mse = mean_squared_error(y_test, y_pred)
print("Mean Squared Error:", mse)

Mean Squared Error: 4.733573089431274e-05

In [28]:
lstm.save("hack.h5")

C:\Users\Priyanshul\AppData\Roaming\Python\Python38\site-packages\keras\src\engine\training.py:3000: UserWarning: You are saving your model as an HDF5 file via `model.save()`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')`.
  saving_api.save_model(

In [29]:
new_df = pd.read_csv(r"C:\Users\Priyanshul\OneDrive\Desktop\Hackathon\stock-market-prediction-and-sentimental-analysis\Test_DJIA_Table.csv")
new_df=new_df.iloc[::-1]
# 2. Preprocess the features
# Assuming you have already defined the StandardScaler 'sc' for scaling features
new_features_scaled = sc.transform(new_df[['Open', 'High', 'Low']].values)

# 3. Create input sequences
x_new, _ = lstm_split(new_features_scaled, n_steps=2)

# 4. Make predictions
predictions = lstm.predict(x_new)

63/63 [==============================] - 0s 3ms/step

In [43]:
predictions

array([[0.48408136],
       [0.49460334],
       [0.49097195],
       ...,
       [0.9177067 ],
       [0.9409689 ],
       [0.96201813]], dtype=float32)

In [44]:
a=predictions*100000

In [45]:
a=predictions.flatten()
a=np.append(a,0)

In [47]:
#submission_df = pd.DataFrame({'Id': new_df['Date'], 'Close': a})
#submission_df.to_csv(r"C:\Users\Priyanshul\OneDrive\Desktop\Hackathon\stock-market-prediction-and-sentimental-analysis\asd.csv")

In [32]:
y_pred

array([[0.88309705],
       [0.8892064 ],
       [0.8938135 ],
       [0.89739335],
       [0.8932009 ],
       [0.892169  ],
       [0.89515054],
       [0.89634836],
       [0.8977643 ],
       [0.8961526 ],
       [0.8899971 ],
       [0.88620985],
       [0.88439465],
       [0.8794558 ],
       [0.8634107 ],
       [0.84795475],
       [0.8482077 ],
       [0.8448125 ],
       [0.8404769 ],
       [0.83789194],
       [0.8431423 ],
       [0.85100055],
       [0.8514216 ],
       [0.85553944],
       [0.8618468 ],
       [0.8618814 ],
       [0.86766064],
       [0.87798727],
       [0.8842653 ],
       [0.88979316],
       [0.8908186 ],
       [0.89284194],
       [0.89709055],
       [0.8987638 ],
       [0.8974527 ],
       [0.89662254],
       [0.8958112 ],
       [0.8953171 ],
       [0.89517784],
       [0.89747787],
       [0.89922106],
       [0.89399076],
       [0.89199805],
       [0.89309025],
       [0.8899982 ],
       [0.8894839 ],
       [0.89584374],
       [0.90165544],
       [0.90780723],
       [0.91233706],
       [0.9076135 ],
       [0.8981594 ],
       [0.90047073],
       [0.89479625],
       [0.89153016],
       [0.896384  ],
       [0.8934635 ],
       [0.8815836 ],
       [0.87182295],
       [0.88106143],
       [0.8885864 ],
       [0.87535846],
       [0.8766961 ],
       [0.87250316],
       [0.85356224],
       [0.83922493],
       [0.8303828 ],
       [0.822248  ],
       [0.81452894],
       [0.82502925],
       [0.83653116],
       [0.84718597],
       [0.848948  ],
       [0.8524382 ],
       [0.86622274],
       [0.8723731 ],
       [0.8817605 ],
       [0.88744736],
       [0.8969892 ],
       [0.91543734],
       [0.9220551 ],
       [0.92191684],
       [0.927588  ],
       [0.93521667],
       [0.93855274],
       [0.94119716],
       [0.9426745 ],
       [0.9428679 ],
       [0.945091  ],
       [0.9455577 ],
       [0.94517994],
       [0.94766927],
       [0.9490994 ],
       [0.95082057],
       [0.95705414],
       [0.9613142 ],
       [0.96126735],
       [0.9618465 ],
       [0.9624816 ],
       [0.9600297 ],
       [0.9628054 ],
       [0.968621  ],
       [0.9695525 ],
       [0.9717369 ],
       [0.9688386 ],
       [0.9618119 ],
       [0.9471501 ],
       [0.9385123 ],
       [0.9265803 ],
       [0.9085312 ],
       [0.8990339 ],
       [0.9085367 ],
       [0.94029903],
       [0.9594945 ],
       [0.9685854 ],
       [0.9786047 ],
       [0.98153865],
       [0.9820504 ],
       [0.981856  ],
       [0.97906804],
       [0.96909845],
       [0.96187305],
       [0.9467248 ],
       [0.9271165 ],
       [0.931831  ],
       [0.95618343],
       [0.9618981 ],
       [0.9499947 ],
       [0.94413364],
       [0.9344531 ],
       [0.9216875 ],
       [0.925998  ],
       [0.93400383],
       [0.9359335 ],
       [0.9500139 ],
       [0.95412135],
       [0.94651604],
       [0.9341364 ],
       [0.9144689 ],
       [0.9160812 ],
       [0.9138768 ],
       [0.9128407 ],
       [0.93506134],
       [0.9482167 ],
       [0.9584503 ],
       [0.9644139 ],
       [0.9577458 ],
       [0.9603381 ],
       [0.9657638 ],
       [0.970615  ],
       [0.977713  ],
       [0.98119855],
       [0.9815122 ],
       [0.9786993 ],
       [0.9842917 ],
       [0.9897404 ],
       [0.9931532 ],
       [0.9981643 ],
       [0.9983194 ],
       [0.99398005],
       [0.9976592 ],
       [1.0003892 ],
       [0.99174225],
       [0.9889295 ],
       [0.9771681 ],
       [0.9713751 ],
       [0.9615272 ],
       [0.9457414 ],
       [0.95663726],
       [0.96138537],
       [0.9659748 ],
       [0.96956325],
       [0.97493577],
       [0.9794351 ],
       [0.98301756],
       [0.9894805 ],
       [0.983595  ],
       [0.9650738 ],
       [0.95024467],
       [0.95096886],
       [0.9646189 ],
       [0.96599746],
       [0.95415056],
       [0.9534116 ],
       [0.96195924],
       [0.9672184 ],
       [0.9681189 ],
       [0.97179925],
       [0.97875714],
       [0.9794136 ],
       [0.97941744],
       [0.98525596],
       [0.9877378 ],
       [0.9749783 ],
       [0.97284937],
       [0.97726095],
       [0.9775163 ],
       [0.9822445 ],
       [0.9853213 ],
       [0.98414934],
       [0.9842179 ],
       [0.9838408 ],
       [0.9728235 ],
       [0.9732423 ],
       [0.9822813 ],
       [0.9777285 ],
       [0.967623  ],
       [0.96798706],
       [0.98427725],
       [0.99101865],
       [0.98573756],
       [0.9842243 ],
       [0.99304485],
       [1.0021685 ],
       [1.0044665 ],
       [1.006656  ],
       [1.0058805 ],
       [1.0046307 ],
       [1.0018916 ],
       [0.990397  ],
       [0.98754156],
       [0.9910829 ],
       [0.98460424],
       [0.98051476],
       [0.98047554],
       [0.9824277 ],
       [0.976748  ],
       [0.96678543],
       [0.9604218 ],
       [0.9567845 ],
       [0.9679775 ],
       [0.97991085],
       [0.97444427],
       [0.9631865 ],
       [0.9645467 ],
       [0.97152555],
       [0.9813063 ],
       [0.98455596],
       [0.9852114 ],
       [0.9901885 ],
       [0.9831221 ],
       [0.9719441 ],
       [0.97038484],
       [0.95624137],
       [0.9435816 ],
       [0.95114565],
       [0.95485365],
       [0.9512875 ],
       [0.9529507 ],
       [0.9452927 ],
       [0.93698204],
       [0.9489813 ],
       [0.96765006],
       [0.9795898 ],
       [0.9842353 ],
       [0.9872278 ],
       [0.9874302 ],
       [0.98655784],
       [0.9784306 ],
       [0.96755517],
       [0.95889735],
       [0.94558   ],
       [0.9330791 ],
       [0.93686783],
       [0.9499047 ],
       [0.95531034],
       [0.9530436 ],
       [0.94577336],
       [0.93953884],
       [0.93716776],
       [0.9306276 ],
       [0.92336607],
       [0.9319241 ],
       [0.93128777],
       [0.92325413],
       [0.92443955],
       [0.9277265 ],
       [0.9334091 ],
       [0.9348104 ],
       [0.92592967],
       [0.9025718 ],
       [0.86371064],
       [0.8167658 ],
       [0.7854378 ],
       [0.8039994 ],
       [0.8439182 ],
       [0.8576919 ],
       [0.8523116 ],
       [0.8272228 ],
       [0.82228816],
       [0.83465695],
       [0.8233439 ],
       [0.83054197],
       [0.8349302 ],
       [0.8284086 ],
       [0.8368343 ],
       [0.83856905],
       [0.84554577],
       [0.86046755],
       [0.86319804],
       [0.84855175],
       [0.84102356],
       [0.8374069 ],
       [0.8283216 ],
       [0.8230417 ],
       [0.82578146],
       [0.8162812 ],
       [0.8065796 ],
       [0.81845677],
       [0.8262383 ],
       [0.83626115],
       [0.8581705 ],
       [0.87057734],
       [0.8763478 ],
       [0.8872689 ],
       [0.8947375 ],
       [0.8973193 ],
       [0.8970245 ],
       [0.8894267 ],
       [0.8929415 ],
       [0.9042152 ],
       [0.90791583],
       [0.90859246],
       [0.9063978 ],
       [0.92052734],
       [0.9409287 ],
       [0.9443203 ],
       [0.9415332 ],
       [0.9493288 ],
       [0.95656276],
       [0.95192945],
       [0.9553087 ],
       [0.966903  ],
       [0.9688797 ],
       [0.96558   ],
       [0.9670638 ],
       [0.9606    ],
       [0.9551358 ],
       [0.95340157],
       [0.9381219 ],
       [0.9176092 ],
       [0.9208063 ],
       [0.9315821 ],
       [0.9435036 ],
       [0.95406437],
       [0.95808256],
       [0.9594927 ],
       [0.9595952 ],
       [0.96104705],
       [0.960256  ],
       [0.9561591 ],
       [0.96035767],
       [0.9606683 ],
       [0.9422914 ],
       [0.9483856 ],
       [0.9572507 ],
       [0.94425106],
       [0.93496513],
       [0.93604195],
       [0.9255285 ],
       [0.91754997],
       [0.92896163],
       [0.94623053],
       [0.9435159 ],
       [0.91646135],
       [0.90680766],
       [0.9190265 ],
       [0.9341309 ],
       [0.93845916],
       [0.93655896],
       [0.94482577],
       [0.9461278 ]], dtype=float32)